body {
    font-family: Arial, sans-serif;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }
  
  .tabs button.active {
    background-color: #ccc;
  }
  
  .filters {
    margin-bottom: 20px;
  }
  
  #cardList {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
  
  .card .card-type {
    float: right;
    font-weight: bold;
  }
  
  .card .card-info {
    margin-top: 10px;
  }
  
  .card .card-info p {
    margin: 5px 0;
  }
  
  .card .card-info p span {
    font-weight: bold;
  }
  